.service-container{
    
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: rgb(232, 238, 238);
}
.title{
    margin-top: 10px;
    background-color: aquamarine;
    border-radius: 10px;
}

@media only screen and (max-width:688px){
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
